* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    overflow-x:hidden;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    max-height: 270vh;
  }

/* ----------------- Links */
nav .active {
    background-color: rgba(0,0,0,0.1)
}

.movies-tab {
    margin-left: 130px;
}

.link {
    font-size: 25px;
}

.brand-logo {
    position: relative;
    left: 6px;
}

/* ----------------- Movies Page */

.card-title {
    color:white;
}

.card-overlay {
    z-index: 3;
    background-color: #0000006b;
    height: 268px;
    opacity: 0;
    animation-duration: 200ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}



.good-card-score {
    color:#4CAF50
}

.meh-card-score {
    color:#FFCC33
}

.bad-card-score {
    color: #F3000F
}

.movie-list {
    display:grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6em;
    bottom: 231vh;
    width: 75vw;
    left: 25vw;
}
.movie-card {
    opacity: 100;
    width: 200px;
    height: 270px;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
}

.card-poster {
    position: relative;
    height: 268px;
    width: 180px;
    border: solid 1px black;
    margin: 0 auto;
    background-size: cover;
    border: solid 2px black;
}

.movie-nav {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 230vh;
}

.catagory-link {
    display: block;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    text-align: center;
}

.catagory-item {
    display: block;
    border-bottom: #0032ff 2px solid;
}

.movie-card-info {
    opacity: 0;
    position: absolute;
    width: 176px;
    height: 0;
    bottom: 0;
    background-color:#0000007a;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
    z-index: 4
}

.movie-link {
    color:black;
    width: 200px;
}

.fa, .fas {
    position: relative;
    color: #00597F
}

.fa-arrow-circle-right {
    bottom: 70px;
    left: 1000px;
}

.fa-arrow-circle-left {
    bottom: 70px;
    right: 280px;
}


@keyframes select {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes fadeToBlack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fadeFromBlack {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@keyframes deselect {
    0% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        height: 90px;
        opacity: 100;
    }
}

@keyframes slideDown {
    0% {
        height: 90px;
        opacity: 100;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

/* ----------------- Footer */

.footer-text {
    text-align: right;
    margin-right: 30px;
}

.page-footer {
    box-shadow: 0px -2px 3px rgb(20, 20, 20,0.4);
}
/* ----------------- Details */

.add-to-rec {
    position: absolute;
    color:#03A9F4;
    background-color:white;
    right: -337px;
    top: -50px;

}

.column4 {
    position: relative;
    top: 60px;
}

.overview-header {
    top: -29px;
    width: 800px;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 20px;
    
}


.overview {
    top: 15px;
    left: -2px;
    text-align: center;
    position: absolute;
    color: white;
    width: 800px;
    min-height: 50px;
    max-height: 300px;
}

.movie-release {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
}

.delete-from-rec {
    background-color:#FF0000;
    color:white;
}

.delete-from-rec:hover {
    background-color: white;
    color: red;
}

.add-to-rec:hover {
    background-color:#03A9F4;
    color: white; 
}

.add-to-rec:focus {
    background-color:#03A9F4;
    color: white; 
}

.added {
    background-color:#03A9F4;
    color: white; 
    content: "Hide"
}

.movie-poster {
    position: relative;
    height: 700px;
    width: 500px;
    border: 2px solid black;
    background-size: cover;
    top: 70px;
    left: 50px;
}

.title {
    position: relative;
    display: block;
    left: 47px;
    color: white;
    min-width: 700px;
    text-align: center;
}


.details-background {
    margin-top:40px;
    background-color: #00597F;
    margin-bottom: 40px;
    height: 830px;
    margin-left: 30px;
    margin-right:30px;
    box-shadow: 8px 8px 3px rgba(2, 2, 2, 0.4);
}

.tagline {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    left: 48px;
    bottom:5px;
    min-width: 700px;
}
.details-text {
    position: relative;
    width: 500px;
    height: 500px;
    left: 600px;
    bottom: 675px;
}

.score-container {
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    border: solid 7px white;
    color: white;
    border-radius: 150px;
    margin: 40px;
    padding: 20px;
    top: 80px;
    width: 72px;
}

.user-score {
    position: relative;
    left: 157px;
    top: 40px
}

.critic-score-header {
    position: relative;
    font-size: 12px;
    color: white;
    left: 20px;
    top: 30px
}

.user-score-header {
    position: relative;
    font-size: 12px;
    color: white;
    top: 30px;
    left: 180px;
    top: -10px
}

.episode-count {
    position: relative;
    font-size: 20px;
    color: white;
    left: 395px;
    top: 12px;
}

.season-count {
    position: relative;
    font-size: 20px;
    color: white;
    left: 660px;
    bottom: 17px;
}

.run-time {
    position: relative;
    font-size: 20px;
    color: white;
    left: 355px;
    top: 16px;
}

.production {
    position: relative;
    left: 592px;
    bottom: 49px;
    max-width: 270px;
}

.company-name {
    font-size: 20px;
    color: white;
}

.dates {
    position: relative;
    top: 6px;
    color: white;
    font-size: 20px;
    top: 70px;
    left: 31px;
}

.genres {
    top: 50%;
    font-size: 20px;
    position: absolute;
    color: white;
    left: 526px;
    width:300px
}

.column3 {
    position: relative;
    top: 70px;
    max-height: 800px;
}

.good {
    border-color: #4CAF50
}

.meh {
    border-color: #FFCC33
}

.bad {
    border-color: #F3000F
}

.modal {
    bottom: 90px;
    max-height: 180%;
    width: 1000px;
    overflow-y: hidden;
}

#modal2 {
    max-width: 25%;
    max-height: 70%;
}

.modal-trigger {
    background-color: #03a8f4;
    color: white;
    position: relative !important;
    left: 324px;
    top: 120px;
}

.column2 {
    position: relative;
    min-height: 120px;
    max-height: 190px;
    left: 68px;
}
 
.no-trailer {
    text-align: center;
    position: relative;
    top: 220px;
    
}

.modal-trigger:hover {
    background-color: #0895d6;
}

.modal-trigger.waves-effect {
    position: static;
}


/* ----------------- Login */

.login-input {
    display: block;
    width: 50vw !important;
}

.login-input:focus {
    border-bottom-color: #03A9F4 !important;
}

.login-form {
    position: relative;
    left: 20vw;

}

label {
    font-size: 20px;
}

.input-form {
    margin-top: 55px;
}

label .active {
    background-color:white !important
}

.myButton {
	box-shadow:inset 0px 39px 0px -24px #29bbff;
	background-color:#2dabf9;
	border-radius:4px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

/* ----------------- Signup */

.signup-form {
    position: relative;
    left:20vw;
    bottom: 2vw;
}

/* ----------------- Loading Icon */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 567px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 50px;
    width: 16px;
    background: #00597F;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook .details-loading {
    display: inline-block;
    position: absolute;
    left: 50px;
    width: 16px;
    background: #ffffff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .details-loading-container {
    left: 45vw;
    top: 40vh;
}

  

  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  /* Profile Page */

  .profile-pic {
      position: relative;
      left: 120px;
      height: 350px;
      width: 350px;
      border: solid 2px black;
      background: url('https://www.edmundsgovtech.com/wp-content/uploads/2020/01/default-picture_0_0.png');
      background-size:cover;
  }

  .full-name {
      position: relative;
      left: 530px;
      top: 50px;
  }

  .reviews-list-header {
      display: inline;
      position: relative;
      left: 590px;
      bottom:250px;
  }

  .review-list {
      position: relative;
      left: 550px;
      bottom: 230px;
      width: 330px;
      height: 400px;
      border: solid 2px black;
      overflow-y: auto;
  }

  .movie-recs {
    position: relative;
    width: 487px;
    height: 245px;
    left: 1000px;
    bottom: 853px;
    border: solid 2px black;
    overflow-y: auto;
  }

  li {
      list-style: none;
  }

  .score-span {
      position: absolute;
      left: 240px;
  }

  .movie-recs-header {
    position: relative;
    left: 1167px;
    bottom: 880px;
  }

  .show-recs-header {
    position: relative;
    left: 1167px;
    bottom: 850px;
    margin-top: 50px;
  }

  .rec-link {
      position: relative;
      font-size: 25px;
      color: black;
      
  }

  .recs {
    border-bottom: black 2px solid;
    padding: 10px;
  }

  .profile-details {
      max-height: 100vh;
  }

/* ----------------- Profile Index */

.profile-item {
    position: relative;
    list-style: none;
    font-size: 25px;
    left: 100px;
    margin-top: 20px;
    display: block;
    border-bottom: solid 2px #03A9F4;
}

.profile-index-header {
    position: relative;
    left: 50px;
}

.profile-item:hover {
    animation-name: itemSelect;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes itemSelect {
    100% {
        background-color:#03A9F4;
        color: white;
        transform: scale(1.1);
    }
}

/* ----------------- Home Page */

.title-logo {
    position: absolute;
    display: inline;
    border: white solid 4px;
    background-color: #03A9F4;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 244px;
    height: 70px;
    top: -40px;
}

.edge {
    top: 30px;
    position: relative;
    left: 40vw;
    display: inline-block;
    width: 248px;
    height: 77px;
    border: black solid 2px;
    border-radius: 15px;
}

.featured {
    top: 50px;
    left: 120px;
    width: 700px;
    height: 403px;
    border: solid 2px black;
    position: relative;
}

.slider .indicators .indicator-item.active {
    background-color: #03A9F4;
}

.popular-movies-header {
    left: 1120px;
    bottom: 400px;
    position: relative;
}

.popular-movies {
    overflow-y: auto;
    left: 1100px;
    bottom: 370px;
    position: relative;
    height: 500px;
    width: 350px;
    border: solid 2px black;
}

.popular-link {
    font-size:30px;
    overflow-x:hidden;
    color: black;
}

.popular-item {
   border-bottom: black 2px solid;
}

.home-page {
    max-height: 100vh;
}

.login-header {
    position: relative;
    left: 300px;
}

.signup-header {
    position: relative;
    left: 300px;
    bottom: 10px;
}

/* ----------------- Review Section */

.review-section {
    position: relative;
    margin-top:40px;
    background-color: #00597F;
    margin-bottom: 40px;
    height: 830px;
    margin-left: 30px;
    margin-right:30px;
    box-shadow: 8px 8px 3px rgba(2, 2, 2, 0.4);
    color:white;
}

.review-header {
    position: relative;
    left: 150px;
    top: 50px;
}

.review-grid {
    display:grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    top: 120px;
    width: 80vw;
    height: 50px;
    left: 150px;
}

.add-review {
    background-color:#03A9F4;
    width:200px;
    left: 0px;
    top: 0px;
}

.add-review:hover {
    background-color: white;
    color:#03A9F4
}

.rating-btn {
    margin-left: 35px;
}

input[type=range]+.thumb {
    background-color:#4CAF50 ;
}

.score-header {
    color:black;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #03A9F4
}

input[type=range]+.thumb {
    background-color: #00597F;
}

.good-slider {
    background-color: #4CAF50
}

.bad-slider {
    background-color: #F44336 
}

.meh-slider {
    background-color: #FFCC33 
}

#review-content {
    width: 334px; 
    height: 204px
}

.review-submit {
    position: relative;
    color: white;
    background-color: #4CAF50;
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
    left: 180px;
    width: 150px;
}

.review-submit:hover {
    background-color: #429645;
}

.review-cancel {
    position: relative;
    color: white;
    background-color: #F44336;
    font-family: 'Nunito', sans-serif;
    bottom: 36px;
    width: 150px;
}

.review-cancel:hover {
    background-color: #e24135;
}

.review-text {
    font-size: 20px;
}

  
