* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* ----------------- Links */
.active {
    background-color: rgba(0,0,0,0.1)
}

.movies-tab {
    margin-left: 130px;
}

.link {
    font-size: 25px;
}

/* ----------------- Movies Page */


.movie-list {
    display:grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6em;
    bottom: 100vh;
    width: 75vw;
    left: 25vw;
}
.movie-card {
    width: 200px;
    height: 270px;
    border: solid 2px black;
}

.movie-card:hover {

}

.card-poster {
    position: relative;
    height: 268px;
    border: solid 1px black;
    margin: 0 auto;
    background-size: cover;
}

.line-break {
    width: 100%;
  }

.movie-nav {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 100vh;
}

.movie-card-info {
    opacity: 0;
    position: absolute;
    width: 196px;
    height: 50px;
    bottom: 0;
    background-color:white;
}

