* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    max-height: 250vh;
  }

/* ----------------- Links */
nav .active {
    background-color: rgba(0,0,0,0.1)
}

.movies-tab {
    margin-left: 130px;
}

.link {
    font-size: 25px;
}

/* ----------------- Movies Page */


.movie-list {
    display:grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 6em;
    bottom: 231vh;
    width: 75vw;
    left: 25vw;
}
.movie-card {
    opacity: 100;
    width: 200px;
    height: 270px;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
}

.card-poster {
    position: relative;
    height: 268px;
    width: 180px;
    border: solid 1px black;
    margin: 0 auto;
    background-size: cover;
    border: solid 2px black;
}

.movie-nav {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 230vh;
}

.movie-card-info {
    opacity: 0;
    position: absolute;
    width: 176px;
    height: 0;
    bottom: 0;
    background-color:white;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
}

.movie-link {
    color:black;
    width: 200px;
}


@keyframes select {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes deselect {
    0% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        height: 50px;
        opacity: 100;
    }
}

@keyframes slideDown {
    0% {
        height: 50px;
        opacity: 100;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

/* ----------------- Footer */

.footer-text {
    text-align: right;
    margin-right: 30px;
}

.page-footer {
    box-shadow: 0px -2px 3px rgb(20, 20, 20,0.4);
}
/* ----------------- Details */

.movie-poster {
    position: relative;
    height: 700px;
    width: 500px;
    border: 2px solid black;
    background-size: cover;
    top: 70px;
    left: 50px;
}

.title {
    position: relative;
    left: 180px;
    color: white;
    min-width: 700px;
    text-align: center;
}

.details-background {
    margin-top:40px;
    background-color: #00597F;
    margin-bottom: 40px;
    height: 830px;
    margin-left: 30px;
    margin-right:30px;
    box-shadow: 8px 8px 3px rgba(2, 2, 2, 0.4);
}

.tagline {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    left: 187px;
    bottom:5px;
    min-width: 700px;
}

.details-text {
    position: relative;
    width: 500px;
    height: 500px;
    left: 600px;
    bottom: 675px;
}

.score-container {
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    border: solid 7px white;
    color: white;
    border-radius: 150px;
    margin: 40px;
    padding: 20px;
    top: 80px;
    width: 72px;
}

.user-score {
    position: relative;
    left: 157px;
    top: 40px
}

.critic-score-header {
    position: relative;
    font-size: 12px;
    color: white;
    left: 20px;
    top: 30px
}

.user-score-header {
    position: relative;
    font-size: 12px;
    color: white;
    top: 30px;
    left: 180px;
    top: -10px
}

.episode-count {
    position: relative;
    font-size: 20px;
    color: white;
    left: 455px;
    top: 12px;
}

.season-count {
    position: relative;
    font-size: 20px;
    color: white;
    left: 775px;
    bottom: 17px;
}



/* ----------------- Login */

.login-input {
    display: block;
    width: 50vw !important;
}

.login-input:focus {
    border-bottom-color: #03A9F4 !important;
}

.login-form {
    position: relative;
    left: 20vw;

}

label {
    font-size: 20px;
}

.input-form {
    margin-top: 55px;
}

label .active {
    background-color:white !important
}

.myButton {
	box-shadow:inset 0px 39px 0px -24px #29bbff;
	background-color:#2dabf9;
	border-radius:4px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

/* ----------------- Signup */

.signup-form {
    position: relative;
    left:20vw;
    bottom: 5vw;
}

/* ----------------- Loading Icon */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 50px;
    width: 16px;
    background: #00597F;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
